$primary: #444471;
$secondary: #2ab3ac;

@import "ember-bootstrap/bootstrap";

$font-light: 400;

@font-face {
  font-family: 'ApercuProRegular';
  src: url('../fonts/ApercuProMedium.otf');
}

body {
    background-color: #f2f2f2f2;
    color: $primary;
    font-family: 'ApercuProRegular';
}

// Navbar

.navbar {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    .navbar-brand img {
        width: 140px;
    }

    .social {
        // Imágenes de redes sociales
        img {
            height: 35px;
            width: auto;
        }
    }
}


#submit, input {
    height: 2.5rem !important;
}


@include media-breakpoint-up(md) {

    .navbar {
        padding-left: 100px;
        padding-right: 100px;

        .navbar-brand img {
            width: 160px;
        }
    }
}

// Main

img.background {
    width: 100%;
    padding: 0;
}

.card {
    text-align: center;
    color: $primary;
    padding: 15px;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.5);
    border-radius: 15px;
}

.card img {
    width: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 90%;
  vertical-align: middle;
  margin: 5%;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  color: white;
  opacity: 0;
  transition: .5s ease;
  background-color: lighten($primary, 20%);

  h5 {
      margin-bottom: 20px;
  }
}

.card:hover .overlay {
  opacity: 1;
}

.banner-textless {
    width: 200vw;
}

@include media-breakpoint-up(md) {
    .banner-textless {
        width: 100%;
    }
}

.banner {
    text-align: center;
    // Según el radio de la imagen.
    height: 208vw;

    img.background {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        z-index: -1;
    }

    // Layout
    padding: 30px;

    // Background
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .text {

        h1 {
            color: $white;
            font-weight: bold;
        }

        h2 {
            color: $secondary;
            font-weight: $font-light;
        }
    }

    .counter {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 3rem;
            color: $white;
            font-weight: normal;
        }

        h2 {
            color: $white;
            font-size: 1.3rem;
            font-weight: $font-light;
        }

        .center {
            border-color: $white;
            border-style: solid;
            border-width: 2px;
            border-top: 0px;
            border-bottom: 0px;
        }
    }

    .suscribe {
        margin-top: 40px;

        .input-group {
            margin-bottom: 10px;
        }

        .form-group {
            display: contents;
        }

        .input-group-text img {
            width: 20px;
            z-index: 10000;
        }
    }
}

@include media-breakpoint-up(md) {
    .banner {
        height: auto;
        text-align: left;

        h1 {
            font-size: 3rem;
        }

        // Layout
        padding: 50px;
        padding-top: 20px;

        .counter {
            margin-top: 10px;
            margin-left: 0px;
            width: 40%;
            text-align: center;
        }

        .suscribe {
            margin-top: 10px;

            form {
                display: flex;
            }

            .input-group {
                width: 25%;
                margin-right: 40px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .banner {
        padding: 70px;
        padding-top: 40px;

        .counter { margin-top: 50px; }
        .suscribe { margin-top: 60px; }
    }
}

// Footer

footer {
    background-color: $white;
    padding-top: 25px;
    padding-bottom: 25px;

    .col-12 {
        text-align: center;
    }

    img {
        max-height: 80px;
        max-width: 30%;
        width: auto;
        margin: 25px;
        filter: grayscale(80);
    }

    img:hover {
        filter: none;
    }
}

@include media-breakpoint-up(md) {
    footer {
        img {
            max-height: 80px;
            max-width: 12%;
            width: auto;
            margin: 25px;
        }
    }
}
