@import "ember-bootstrap/bootstrap";

body {
    background-color: red;
}

// Navbar

.navbar {
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;

    .navbar-brand img {
        width: 300px;
    }

    .social {
        // Imágenes de redes sociales
        img {
            height: 35px;
            width: auto;
        }
    }
}

