{{#bs-navbar type="light" backgroundColor="white" toggleBreakpoint="null" collapsed="false" as |navbar|}}
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand"}}
      <img
        src="img/logo.png"
        alt="">
    {{/link-to}}
  </div>
  <div class="ml-auto social">
    <a href="https://www.facebook.com/Redciudadanagt/" target="_blank" rel="noopener">
      <img
        src="img/icono-facebook.png"
        alt="Icono de Facebook">
    </a>
    <a href="https://twitter.com/redxguate"  target="_blank" rel="noopener">
      <img
        src="img/icono-twitter.png"
        alt="Icono de Twitter">
    </a>
  </div>
{{/bs-navbar}}

<main class="container-fluid">
  <section class="row">
    <div class="col-12 banner">
      <div class="text">
        <h1>Próximamente</h1>
        <h2>Mochila Electoral</h2>
      </div>
      <div class="counter row">
        <div class="col-4">
          <h1 id="days">00</h1>
          <h2>Días</h2>
        </div>
        <div class="col-4 center">
          <h1 id="hours">00</h1>
          <h2>Horas</h2>
        </div>
        <div class="col-4">
          <h1 id="minutes">00</h1>
          <h2>Minutos</h2>
        </div>
      </div>
      <div class="suscribe">
        <form action="https://formspree.io/dev@redciudadana.org.gt" method="POST">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img
                  src="img/icono-correo.png"
                  alt="Icono de un paquete de correo">
              </span>
            </div>
            <input type="email" name="_replyto" class="form-control" placeholder="Email">
          </div>
          <input type="submit" value="Suscríbete" class="btn btn-secondary submit" id="submit">
        </form>
      </div>
      {{!-- Background --}}
      <img src="img/banner-xs.png" class="background d-md-none">
      <img src="img/banner.png" class="background d-none d-md-block">
    </div>
  </section>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>Un proyecto de:</h5>
        <a href="#">
          <img src="img/colaboradores/AEU.png" alt="AEU">
        </a>
        <a href="#">
          <img src="img/colaboradores/ALAS_MARIPOSA.png" alt="ALAS_MARIPOSA">
        </a>
        <a href="#">
          <img src="img/colaboradores/ARG.png" alt="ARG">
        </a>
        <a href="#">
          <img src="img/colaboradores/AR.png" alt="AR">
        </a>
        <a href="#">
          <img src="img/colaboradores/ASIES.png" alt="ASIES">
        </a>
        <a href="#">
          <img src="img/colaboradores/CARTER_CENTER.png" alt="CARTER_CENTER">
        </a>
        <a href="#">
          <img src="img/colaboradores/CENACIDE.png" alt="CENACIDE">
        </a>
        <a href="#">
          <img src="img/colaboradores/CHILD_FUND.png" alt="CHILD_FUND">
        </a>
        <a href="#">
          <img src="img/colaboradores/CIDH.png" alt="CIDH">
        </a>
        <a href="#">
          <img src="img/colaboradores/CIEN.png" alt="CIEN">
        </a>
        <a href="#">
          <img src="img/colaboradores/CIPRODENI.png" alt="CIPRODENI">
        </a>
        <a href="#">
          <img src="img/colaboradores/ICCPG.png" alt="ICCPG">
        </a>
        <a href="#">
          <img src="img/colaboradores/ICEFI.png" alt="ICEFI">
        </a>
        <a href="#">
          <img src="img/colaboradores/ISIS.png" alt="ISIS">
        </a>
        <a href="#">
          <img src="img/colaboradores/JUSTICIA_YA.png" alt="JUSTICIA_YA">
        </a>
        <a href="#">
          <img src="img/colaboradores/PD.png" alt="PD">
        </a>
        <a href="#">
          <img src="img/colaboradores/PERPENDICULAR.png" alt="PERPENDICULAR">
        </a>
        <a href="#">
          <img src="img/colaboradores/RED.png" alt="RED">
        </a>
        <a href="#">
          <img src="img/colaboradores/SEDEM.png" alt="SEDEM">
        </a>
        <a href="#">
          <img src="img/colaboradores/URL.png" alt="URL">
        </a>

      </div>
    </div>
  </div>
</footer>

<script>
  // Set the date we're counting down to
  var countDownDate = new Date("06/16/2019 00:00:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
      
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
      
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
    // Output the result in an element with id="demo"
    document.getElementById("days").innerHTML = days;
    document.getElementById("hours").innerHTML = hours;
    document.getElementById("minutes").innerHTML = minutes;
  }, 1000);
</script>

{{outlet}}
